<footer class="bg-[#2D2C2C] px-[50px] lg:px-[80px">
    <div class="flex flex-col items-center md:grid md:grid-cols-3 pt-[60px] pb-[80px] text-slate-100">
        <div>
            <img src="assets/img/logo/telkomsel-logo-large.png" alt="" class="w-[150px]">

            <div class="mt-[80px] w-fit m-auto md:ms-1">
                <h1 class="text-xl poppins-medium">Follow Us On</h1>
                <div class="text-xl mt-3 flex gap-5 justify-center">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="pt-[50px] md:pt-[0px]">
            <h1 class="text-xl poppins-medium">Quick Links</h1>
            <ul class="mt-[20px] flex flex-col justify-between h-[130px] poppins-light text-sm">
                <li class="text-center md:text-start"><a class="hover:text-blue-500 duration-300 ease"
                        href="home.html">Home</a></li>
                <li class="text-center md:text-start"><a class="hover:text-blue-500 duration-300 ease"
                        href="rent.html">Rent</a></li>
                <li class="text-center md:text-start"><a class="hover:text-blue-500 duration-300 ease"
                        href="about.html">About</a></li>
                <li class="text-center md:text-start"><a class="hover:text-blue-500 duration-300 ease"
                        href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="pt-[50px] md:pt-[0px]">
            <h1 class="text-xl poppins-medium text-center md:text-start">Support</h1>
            <div class="flex flex-col justify-between h-[130px] poppins-light text-sm mt-[20px]">
                <div>
                    <p class="text-sm poppins-medium text-center md:text-start">Address</p>
                    <p class="text-[12px] poppins-light text-center md:text-start">Ahmad Yani Street Number 16,
                        Kp. Baru, Sorong District, Sorong City, Papua Bar. 98411</p>
                </div>
                <div class="my-2">
                    <p class="text-sm poppins-medium text-center md:text-start">Phone</p>
                    <p class="text-[12px] poppins-light text-center md:text-start">082239294242</p>
                </div>
                <div>
                    <p class="text-sm poppins-medium text-center md:text-start">Email</p>
                    <p class="text-[12px] poppins-light text-center md:text-start">telkomsel@telkom.net</p>
                </div>
                <div class="mt-2">
                    <p class="text-sm poppins-medium text-center md:text-start">Map</p>
                    <p class="text-[12px] poppins-light text-center md:text-start text-blue-500"><a
                            href="https://maps.app.goo.gl/k68j3s3FUrZgHsp69"
                            target="_blank">https://maps.app.goo.gl/k68j3s3FUrZgHsp69</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 border-t border-gray-600">
        <p class="text-sm text-slate-100 text-center">© 2024 Telkomsel</p>
    </div>
</footer>