<nav class="w-full h-16 flex items-center justify-between px-6 bg-slate-800 static">
    <div>
        <img src="assets/service/img/telkomsel-logo.png" alt="">
    </div>
    <div>
        <ul>
            <li><a href=""></a></li>
        </ul>
    </div>
    <a href="/logout" class="p-2 bg-red-600 text-white rounded-sm hover:bg-red-700 duration-500 text-sm">Logout</a>
</nav>