<%- include('include/head') %>
    <div class="w-full flex flex-col items-center justify-center h-screen p-5">
        <img src="<%= uri %>/assets/img/404/404.png" alt="">
        <div class="flex flex-col justify-center items-center">
            <p class="mb-4">Sorry, the page you're looking for couldn't be found.</p>
            <a href="/" class="p-2 bg-blue-400 m-auto text-white rounded-sm">Back to Home</a>
        </div>
    </div>

</body>
</html>