<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/service/img/output.css">
</head>
<body class="bg-gray-500 flex items-center justify-center h-screen">
    <div class="text-center">
        <img src="https://media.giphy.com/media/xUOxf48tR0IWHS0L84/giphy.gif" alt="404 Error" class="h-64 mb-8">
        <h1 class="text-5xl font-bold mb-4"><%= title %> <%= status %></h1>
        <p class="text-gray-600"><%= msg %></p>
    </div>
</body>
</html>