<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/service/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="font.css">
    <script src="https://kit.fontawesome.com/79df314047.js" crossorigin="anonymous"></script>
    <style>
        *{
            font-family: "Poppins", sans-serif;
        }
        ::backdrop {
            background-image: linear-gradient(
                45deg,
                rgb(16, 13, 16),
                rgb(26, 24, 24),
                rgb(21, 21, 21),
                rgb(45, 47, 45)
            );
            opacity: 0.75;
        }
    </style>
    <title>Penyedia</title>
</head>
<body >
    <div class="w-full bg-slate-100">
        <nav class="w-full h-16 flex items-center justify-between px-6 bg-slate-800 static">
            <div>
                <img src="assets/service/img/telkomsel-logo.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <a href="/logout" class="p-2 bg-red-600 text-white rounded-sm hover:bg-red-700 duration-500 text-sm">Logout</a>
        </nav>

        <div class="w-full h-full p-14">
            <h1 class="text-3xl mb-20 font-semibold">Dashboard</h1>
            <div class="grid grid-cols-2 gap-5">
                <div>
                    <h1><i class="fa-solid fa-plus me-3"></i>Last Week's Orders Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400" value="17/02/2024 - 24/02/2024" readonly>
                    <div id="chart" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
                <div>
                    <h1><i class="fa-solid fa-plus me-3"></i>Monthly Modem Rental Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400" value="Year: 2024" readonly>
                    <div id="chart2" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
            </div>

            <section class="mt-10 pb-20 bg-white p-5">
                <h1 class="text-2xl mt-7 mb-10">Stok dan Pesanan</h1>
                <div class="grid grid-cols-2 w-full">
                    
                    <div class="">
                        <h1 class="text-lg">Modem Tersedia</h1>
                        <div class="flex gap-4 text-sm items-center">
                            <div class="mt-4">
                                <span class="me-2">N1</span>
                                <input type="text" class="outline-none w-12 text-sm text-slate-500 p-1 text-center" id="n1" value="<%= jumlahModem.N1 %>" readonly>
                            </div>
                            <div class="mt-4">
                                <span class="me-2">N2</span>
                                <input type="text" class="outline-none w-12 text-sm text-slate-500 p-1 text-center" id="n2" value="<%= jumlahModem.N2 %>" readonly>
                            </div>
                            <button type="button" id="btnEdit" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm">Edit Stok</button>
    
                            <dialog class="w-[250px] p-4 bg-slate-100 text-sm rounded-lg">
                                <div class="text-end cursor-pointer" id="closeModal">
                                    <i class="fa-solid fa-xmark text-lg"></i>
                                </div>
                                <h1 class="text-lg">Edit Stok</h1>
                                <div class="mt-5">
                                    <div class="mt-2 flex flex-col">
                                        <label class="text-sm">Pilih Modem</label>
                                        <select name="modem" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                                            <option value="N1">N1</option>
                                            <option value="N2">N2</option>
                                        </select>
                                    </div>
                                    <div class="mt-2 flex flex-col">
                                        <label class="text-sm">Jumlah</label>
                                        <input name="editJumlah" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2" />
                                    </div>
                                    <button type="button" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm" id="editStok">Edit</button>
                               </div>
                            </dialog>
                        </div>
                    </div>

                    <div class="mt-5">
                        <h1>Jumlah Pesanan</h1>
                        <input type="text" id="jumlahPesanan" class="outline-none w-12 text-sm text-slate-500 p-1 mt-4 text-center" value="0" readonly>
                    </div>
                </div>

                <div class="mt-4 text-sm">
                    <h1 class="text-lg">Lokasi Tersedia</h1>
                    <div class="grid grid-cols-2 mt-4 text-slate-500">
                        <div>
                            <p>Lokasi</p>
                        </div>
                        <div>
                            <p>Provinsi</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 mt-4">
                        <div>
                            <p>Sorong</p>
                        </div>
                        <div>
                            <p>Papua Barat Daya</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="assets/service/js/apexcharts.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();

    </script>

    <script>

        var options = {
            chart: {
                type: 'bar',
            },
            series: [{
                name: 'sales',
                data: [30,40,35,50, 32, 45, 69]
            }],
            xaxis: {
                categories: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6'],
            }
        }

        var chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
        var options = {
        chart: {
            type: 'area',
        },
        series: [{
            name: 'sales',
            data: [30,40,35,50]
        }],
        xaxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr']
        }
        }

        var chart = new ApexCharts(document.querySelector("#chart2"), options);

        chart.render();

        const modal = document.querySelector('dialog');
        const closeModal = document.querySelector('#closeModal');
        const editBtn = document.querySelector('#btnEdit');

        editBtn.addEventListener('click', (e) => {
            modal.showModal();
        });

        closeModal.addEventListener('click', (e) => {
            modal.close();
        });

        const editStok = document.getElementById('editStok');

        const modem = document.querySelector('select[name="modem"]');
        const editJumlah = document.querySelector('input[name="editJumlah"]');

        editStok.addEventListener('click', (e) => {
            e.preventDefault();

            modal.close();
            socket.emit('editStok', { modem: modem.value, jumlah: editJumlah.value });
            editJumlah.value = '';
        });

        socket.on('editStatus', (data) => {
            if(data.msg){
                alert(data.msg);
            }

            if(data.jumlahModem){
                const getJumlah = data.jumlahModem.jumlah;
                const getModem = data.jumlahModem.modem;
    
                document.getElementById(getModem === 'N1' ? 'n1' : 'n2').value = getJumlah;
            }
        });

        const jumlahPesanan = document.getElementById('jumlahPesanan');

        socket.on('jumlahPesanan', (data) => {
            // jumlahPesanan.value = data.count;
            console.log(data);
        });

        const customSocket = io('/rent');

        customSocket.on('connect', () => {
            console.log('connected to custom namespace');
        });

        customSocket.on('jumlahPesanan', (data) => {
            jumlahPesanan.value = data.countData;
        });

    </script>
</body>
</html>