<% if(path === '/superuser'){ %>
    <script src="assets/service/js/apexcharts.min.js"></script>
    <script src="assets/service/js/chart.js"></script>
    <script src="http://localhost:7777/assets/service/js/dashboardScript.js"></script>
<% }else if(path === '/superuser/monitoring'){ %>
    <script src="http://localhost:7777/assets/service/js/countdown.js"></script>
    <script src="http://localhost:7777/assets/service/js/monitoringScript.js"></script>
<% }else if(path === '/superuser/users'){ %>
    <script src="http://localhost:7777/assets/service/js/usersScript.js"></script>
<% }else if(path === '/superuser/testimonial'){ %>
    <script src="http://localhost:7777/assets/service/js/testimonialScript.js"></script>
<% } %>

<script src="http://localhost:7777/assets/service/js/sidebar.js"></script>
</body>
</html>