<nav class="w-full h-16 flex items-center justify-end px-6 bg-slate-800 fixed z-20">
    <a href="#" class="p-2 bg-red-600 text-white rounded-sm hover:bg-red-700 duration-500 text-sm">Logout</a>
</nav>