<nav class="w-full h-16 flex items-center px-6 bg-slate-800 fixed z-20">
    <div class="cursor-pointer menu block lg:hidden">
        <i class="fa-solid fa-bars text-white text-xl"></i>
    </div>
    <div class="w-full flex items-center justify-end">
        <a href="/logout" class="p-2 bg-red-600 text-white rounded-sm hover:bg-red-700 duration-500 text-sm">Logout</a>
    </div>
</nav>