  .floating-image {
    animation: floatAnimation 5s ease-in-out infinite;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0); /* Mulai dari posisi awal */
    }
    50% {
      transform: translateY(-20px); /* Naik */
    }
    100% {
      transform: translateY(0); /* Kembali ke posisi awal */
    }
  }