<div data-element="<%= data.notif ? data.notif.element : '' %>" data-success="<%= data.success %>" id="notif" class="bg-gradient-to-r <%= data.notif ? data.notif.class : '' %> w-[300px] p-2 rounded-lg m-auto fixed z-[9999] top-[80px] right-2 translate-x-[1000px] opacity-0 duration-1000 ease">
        
</div>

<header class="relative z-10 shadow headSection">
    <div class="absolute w-full h-screen">
        <div class="absolute w-full h-screen bg-black opacity-70"></div>
        <div style="background-image: url('assets/img/home/office.jpg');"
            class="bg-fixed h-screen w-full bg-cover bg-center"></div>
    </div>

    <div
        class="relative z-40 h-screen w-full flex flex-col md:flex-row md:items-center md:justify-evenly justify-center text-slate-100">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-[80px]">
            <div class="grid grid-cols-3 p-3 rounded-lg  border-2 border-blue-500"
                style="background-color: rgba(255, 255, 255, 0.1);">
                <div
                    class="w-[50px] h-[50px] bg-blue-700 flex items-center justify-center rounded-full mx-auto mt-1 ">
                    <i class="fa-solid fa-phone text-2xl"></i>
                </div>
                <div class="col-span-2">
                    <h1 class="text-xl poppins-medium">Contact</h1>
                    <p class="text-[12px] poppins-light mt-2">082239238923</p>
                    <p class="text-[12px] poppins-light">telkomsel@telkomsel.net</p>
                </div>
            </div>
            <div class="grid grid-cols-3 p-3 rounded-lg  border-2 border-blue-500"
                style="background-color: rgba(255, 255, 255, 0.1);">
                <div
                    class="w-[50px] h-[50px] bg-blue-700 flex items-center justify-center rounded-full mx-auto mt-1 ">
                    <i class="fa-solid fa-location-dot text-2xl"></i>
                </div>
                <div class="col-span-2">
                    <h1 class="text-xl poppins-medium">Address</h1>
                    <p class="text-[12px] poppins-light mt-2">Jl. Ahmad Yani Number 16, Kp. Baru, Sorong
                        District, Sorong City, Southwest Papua 98411</p>
                </div>
            </div>
            <div class="grid grid-cols-3 p-3 rounded-lg  border-2 border-blue-500"
                style="background-color: rgba(255, 255, 255, 0.1);">
                <div
                    class="w-[50px] h-[50px] bg-blue-700 flex items-center justify-center rounded-full mx-auto mt-1 ">
                    <i class="fa-solid fa-clock text-2xl"></i>
                </div>
                <div class="col-span-2">
                    <h1 class="text-xl poppins-medium">Schedule</h1>
                    <div>
                        <p class="text-[12px] poppins-light mt-2">Monday to Friday</p>
                        <p class="text-[12px] poppins-light">Office time: 08:00 AM - 16:00 PM </p>
                        <p class="text-[12px] poppins-light mt-2">Saturday</p>
                        <p class="text-[12px] poppins-light">Office time: 08:00 AM - 12:00 PM </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="sectionContainer">
        
    <section
        class="text-slate-100 bg-gradient-to-t to-[#1F0235] from-[#B8050A] overflow-hidden">
        <h1 class="text-center text-4xl poppins-semibold pt-[50px]">Get in touch</h1>
        <p class="text-center text-slate-200 poppins-light mt-3">Contact us if you have any problems.</p>

        <div class="grid md:grid-cols-12 text-slate-100 px-3 md:px-[50px] lg:px-[80px] pb-[50px] pt-[50px] gap-6 md:gap-6">

            <div class="col-span-12 md:col-span-5">
                <iframe class="rounded-sm w-full h-[400px] md:h-full m-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.3450214260374!2d131.2793121!3d-0.8825373999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2d5eab1003d111ad%3A0xae59cad18d780864!2sGRHA%20MERAH%20PUTIH!5e0!3m2!1sid!2sid!4v1713015828696!5m2!1sid!2sid"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
           

            <div class="p-5 col-span-12 md:col-span-7 shadow-lg rounded-sm w-full" style="background-color: rgba(255, 255, 255, 0.1);">
                <form action="/contact/success" method="POST">
                    <div class="grid md:grid-cols-2 gap-8">
                        <div>
                            <label for="name" class="text-sm duration-200 ease">Tell Us
                                Your Name <span class="text-red-400">*</span></label>
                            <input type="text" name="name"
                                class="py-2 bg-transparent border-b-[1px] text-[12px] poppins-light outline-none w-full text-slate-200 duration-200 ease required">
                        </div>
                        <div>
                            <label for="email" class="text-sm duration-200 ease">Enter
                                Your Email <span class="text-red-400">*</span></label>
                            <input type="email" name="email"
                                class="py-2 bg-transparent border-b-[1px] text-[12px] poppins-light outline-none w-full text-slate-200 duration-200 ease required">
                        </div>
                    </div>
                    <div class="mt-8">
                        <label for="phone" class="text-sm duration-200 ease">Enter Your Phone</label>
                        <input type="text" name="phone"
                            class="py-2 bg-transparent border-b-[1px] text-[12px] poppins-light outline-none w-full text-slate-200 duration-200 ease required">
                    </div>
                    <div class="mt-8">
                        <label for="message" class="text-sm duration-200 ease">Message <span class="text-red-400">*</span></label>
                        <textarea name="message" id="" cols="30" rows="10" class="py-2 bg-transparent border-b-[1px] text-[12px] poppins-light outline-none w-full text-slate-200 duration-200 ease required"></textarea>
                    </div>
                    <button class="p-2 px-4 rounded-sm bg-[#0047FF] mt-4 hover:bg-blue-900 duration-300 ease submit-btn" type="submit">Submit</button>
                </form>
            </div>

        </div>
    </section>

    <%- include('../layouts/footer') %>

</div>