<%- include('structure/head') %>
    <div class="w-full bg-slate-100">
        <%- include('layout/navbar') %>

        <%- include('layout/sidebar') %>

        <div class="w-full h-full pe-10 ps-72 pt-32">
            <h1 class="text-3xl mb-20 font-semibold">Dashboard</h1>
            <div class="grid grid-cols-2 gap-5">
                <div>
                    <h1><i class="fa-solid fa-chart-column me-3"></i>Last Week's Rented Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400" value="17/02/2024 - 24/02/2024" readonly>
                    <div id="chart" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
                <div>
                    <h1><i class="fa-solid fa-plus me-3"></i>Available Modem Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400" value="Year: 2024" readonly>
                    <div id="chart2" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-5 mt-10">
                <div class="col-span-7">
                    <h1><i class="fa-solid fa-chart-pie me-3"></i>Most Visited Destination</h1>
                    <div id="destinationChart" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
                <div class="col-span-5">
                    <h1><i class="fa-solid fa-chart-bar me-3"></i>Most choosen Plan</h1>
                    <div id="planChart" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-5 mt-10 mb-10">
                <div>
                    <h1>Testimonials</h1>

                    <div class="grid grid-cols-2 shadow-lg bg-white p-2 text-sm mt-5 min-h-[20px] overflow-auto">
                        <div class="grid grid-cols-12">
                            <div class="w-16 h-16 rounded-full overflow-hidden col-span-2 border-2 border-gray-300">
                                <img src="../midas-hofstra-a6PMA5JEmWE-unsplash.jpg" alt="" class="w-16 m-auto">
                            </div>
                            <div class="col-span-10">
                                <h1 class="font-medium">John Doe</h1>

                                <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero amet repudiandae voluptates ipsa. Sit velit mollitia quo optio eius vel in? Labore alias rerum a adipisci, cum atque nobis sit!</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-12">
                            <div class="w-16 h-16 rounded-full overflow-hidden col-span-2 border-2 border-gray-300">
                                <img src="../podmatch.jpg" alt="" class="w-16 m-auto">
                            </div>
                            <div class="col-span-10">
                                <h1 class="font-medium">Armin Matrutty</h1>

                                <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero amet repudiandae voluptates ipsa. Sit velit mollitia quo optio eius vel in? Labore alias rerum a adipisci, cum atque nobis sit!</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 mt-10">
                            <div class="w-16 h-16 rounded-full overflow-hidden col-span-2 border-2 border-gray-300">
                                <img src="../ethan-rougon-uZBCgRDKsko-unsplash.jpg" alt="" class="w-16 m-auto">
                            </div>
                            <div class="col-span-10">
                                <h1 class="font-medium">Firgenius Hombore</h1>

                                <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero amet repudiandae voluptates ipsa. Sit velit mollitia quo optio eius vel in? Labore alias rerum a adipisci, cum atque nobis sit!</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 mt-10">
                            <div class="w-16 h-16 rounded-full overflow-hidden col-span-2 border-2 border-gray-300">
                                <img src="../aurelien-thomas-XpejolzYGvc-unsplash.jpg" alt="" class="w-16 m-auto">
                            </div>
                            <div class="col-span-10">
                                <h1 class="font-medium">Romanus Sampono</h1>

                                <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero amet repudiandae voluptates ipsa. Sit velit mollitia quo optio eius vel in? Labore alias rerum a adipisci, cum atque nobis sit!</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 mt-10">
                            <div class="w-16 h-16 rounded-full overflow-hidden col-span-2 border-2 border-gray-300">
                                <img src="../li-shanting-AGy0SxTzqr8-unsplash.jpg" alt="" class="w-16 m-auto">
                            </div>
                            <div class="col-span-10">
                                <h1 class="font-medium">Hannah James</h1>

                                <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero amet repudiandae voluptates ipsa. Sit velit mollitia quo optio eius vel in? Labore alias rerum a adipisci, cum atque nobis sit!</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-12 mt-10">
                            <div class="w-16 h-16 rounded-full overflow-hidden col-span-2 border-2 border-gray-300">
                                <img src="../roth-melinda-gOdqdhU9pWI-unsplash.jpg" alt="" class="w-16 m-auto">
                            </div>
                            <div class="col-span-10">
                                <h1 class="font-medium">Clarissa Joven</h1>

                                <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero amet repudiandae voluptates ipsa. Sit velit mollitia quo optio eius vel in? Labore alias rerum a adipisci, cum atque nobis sit!</p>
                            </div>
                        </div>
                    </div> 

                </div>
            </div>

        </div>
    </div>
 <%- include('structure/footer') %>